*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: black;
}

header{
    width: 100%;
    
    padding: 2%;
    border: solid 0px;
    display: grid;
    grid-template-columns:auto auto  ;
    grid-template-rows: auto;
    background-color: whitesmoke;
    padding-left: 50px;
   

    
}
.name{
    text-shadow: 1px 1px rgb(182, 29, 29);
   
}

.info{
    margin-left: 1%;
    display: grid;
    grid-template-columns:auto auto auto auto auto ;
    grid-template-rows: auto;
    align-items: center;
}
.resume{
    height: 50px;
    width: 160px;
    border: solid opx ;
    border-radius: 10px;
    background-color: blue;
    padding: 15px;
    box-shadow: 0px 0px  3px 1px;  
}
#home{
    display: grid;
    width: 100%;
    height: 350px;
    color: aliceblue;
    /* background-image:url("./galaxy.jpg") ;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(1, 14, 14); */

    background-color: black;
    grid-template-columns: 50% 50%;
    
    padding-left: 50px;
    padding-top: 50px;
    /* border: solid 0px;
    box-shadow: 0px 0px 5px 1px; */
    
   

}
.destination{
    font-size: larger;
    font-family: monospace;
    color: rgb(240, 219, 189);
    margin-top: 20px;
    
}
.name-in-aboutus,.bio,.i,p,h4{
    margin-top: 20px;
}
.name-in-aboutus{
    text-shadow: 1px 1px blue;
}
.hireme,.viewprojects{
    height: 30px;
    width: 110px;
   
    background-color: blue;
    color: white;
    text-align: center;
    padding: 5px;
    border: solid 1px;
    border-color: aliceblue;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
}
.hm{
    display: flex;
    
}
.viewprojects{
    background-color: black;
}
.i{
    display: flex;
       
}
.i1{
    width: 30px;
}
.myphoto{
    height: 70%;
    width: 40%;
    margin-left: 200px;
    border-radius: 100%;
    border: solid 0px;
     box-shadow: -5px -5px 15px 3px blue;
}
.ab{ color: black;}
.who{
    font-size: larger;
    font-family: monospace;
    color:rgb(216, 53, 53);
    margin-top: 20px;
    text-shadow: 1px 1px 5px black ;
    

}

.aboutme{
    display: grid;
    width: 100%;
    height: 300px;
    background-color: white;
    text-shadow: 1px 1px 3px black ;
    color: whitesmoke;

   
 
    grid-template-columns: 50% 50%;
    
    padding-left: 50px;
    padding-top: 10px;
    align-content: center;
    
}

.w{
    border-radius: 10px; 
    width: 450px;
    height: 200px;
    /* padding-right: 50px; */
     /* padding-left: 100px; */
     border: solid 0px;
     box-shadow: 5px 5px 15px 3px blue;
}
.work{
    
    padding-left: 50px;
   

}
.Education{
    display: grid;
    width: 100%;
    height: 200px;
    /* border: solid 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px; */
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 150px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    align-content: center;
    background-color: whitesmoke;
    background-color: black;
    
}
.ed,.in,.loc{
    border: solid 0px;
    border-radius: 5px;
    background-color: aliceblue;

     /* background for box */
    background-image:url("./galaxy.jpg") ;
     background-repeat: no-repeat;
    background-size: cover;
    
    
    color: whitesmoke;

    padding: 20px;
    box-shadow: 0px 0px 5px 1px;

}
 
#projects{
    width: 100%;
    height: 350px;
    margin-top:30px; ;
    /* background-image:url("./galaxy.jpg") ;
    
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgb(11, 11, 51);
    background-color: whitesmoke;
    padding-left:50px;
    
    
}

.ph,.h1{
    color: white;
    color: black;
    
}
.p{
    height: 200px;
    width: 70%;
    border: solid 1;
    border-radius: 5px;
    border-color: white;
    box-shadow: 0px 0px 10px 1px whitesmoke;
    background-color: blue;
    margin-left: 50px;
    margin-top: 20px;
}
.pd,.pt{
    color: white;
    text-align: left;
    padding: 20px;
    padding-bottom: 0px;
    color: black;
}
.pd{
    padding-left: 50px;
    padding-top: 0px;
}

.ps{
    display: inline;
    height: 20px;
    width: 30px;
    padding: 5px;
    background-color: rgb(6, 6, 58);
    background-image:url("./galaxy.jpg") ;
    
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px;
    border-color: whitesmoke;
    
}
.ps1{
    margin-left: 100px;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color:red;
    text-shadow: 1px 1px black;
    color: white;

}
.i1{
    height: 22px;
    width: 30px;
    background-color: rgb(236, 236, 212);
    color: rgb(104, 93, 93);
    margin-left: 10px;
}
#skills{
    height: 200px;
    width: 100%;
}
.sk{
    height: 200px;
    width: 60%;
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-template-rows: 100px;
    color: white;
   
    justify-content: space-between;
    margin-left: 80px;

}
.sk0{
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    background-image:linear-gradient(to top right,blue,rgb(49, 49, 90),rgb(200, 200, 233));
    border: solid;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 0px 0px 5px 1px;
    margin-top: 10px;
}
#sk{
    margin: lef 20px;
    /* padding-left: 80px; */
}
.s{
    color: whitesmoke;
    margin-top: 30px;
    margin-left: 60px;
}
footer{
    background-color: white;
    color: black;
 
    text-align: center;
    padding-top: 20px;
}
h3{
    color: red;
}
i{
    color: blue;
}